# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Node
node_modules/
dist/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# AI Models
*.pt
*.pth
*.safetensors
*.joblib

# Database
*.sqlite3
# Test files
ocr_test.png
